@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #013B4E;
}

.navbar h1 {
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
}
.navbar a:hover {
  color: #3DB191;
}

/* filter styles */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}