@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

  background-color: #013b4e;
}

.navbar h1 {
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
}
.navbar a:hover {
  color: #3db191;
}

/* banner styles */
.home img {
  width: 100vw;
  height: 500px;
}

/* filter styles */
.search-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

/* footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #e6e6e6;
  color: #646464;
  font-size: 13px;

  padding: 5px;
  text-align: center;
}

p.footer {
  padding: 5px;
}
/* home card styles */
.card-list {
  display: flex;
  flex-flow: row-wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 24px;
}
