@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Inter', sans-serif;
  
  
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #013B4E;
}

.navbar h1 {
  color: #ffffff;
  padding-left: 10px;
  font-weight: 600;
}
.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ffffff;
}
.navbar a:hover {
  color: #3DB191;
}

/* suburb filter styles */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input {
  display: flex;
  height: 27px;
  width: 300px;
  margin: 14px;
  padding: 5px;
  font-size: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #F5F5F5;
}

ul {
  text-align: left;
  width: 400px;
  border: 15px #FFFFFF;
  box-shadow: 1px 10px #888888;
}

